SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080

DB_HOST=mysql
DB_PORT=3306
DB_NAME=training_db
DB_USERNAME=training_user
DB_PASSWORD=training_password
MYSQL_ROOT_PASSWORD=training_root_password

OPENAI_API_KEY=
OPENAI_TIMEOUT_MS=30000

TRUSTED_USER_ID_HEADER=X-User-Id

EVENT_BROKER_ENABLED=false
EVENT_BROKER_ENDPOINT=
OUTBOX_PUBLISH_ENABLED=false
